useDynLib("SQR")

import("Matrix")

export(SQR,
qgcdpathlasso1,
qgcdpathlasso2,
qgcdpathScad1,
qgcdpathScad2,
qgcdpathMcp1,
qgcdpathMcp2,
cv.SQR,
plot.SQR,
coef.SQR,
predict.SQR
)

S3method("coef","SQR")
S3method("plot","SQR")
S3method("predict","SQR")


